## 04_loops_lists notebook

This notebook will cover the basics of creating, calliing upon and manipulating lists; to help store data. Combining the use of lists with looping through data. Looping through list contents and being able to store data in lists.

Topics covered:

**1. Basic of lists**
* Creating simple lists
* Ammending lists
* Storing data in lists


**2. Loops** 
* basic of looping through data
* Loop through and store data in lists

In [1]:
# Set up

# pandas and numpy are universally used in python, like tidyverse is in R. 
import pandas as pd
import numpy as np

!pip install openpyxl

# chnage from scientific notation 
pd.set_option('display.float_format', lambda x: '%.5f' % x)

trade = pd.read_excel("data/trade_data.xlsx") # upload xlsxl
tariff = pd.read_excel("data/tariff_data.xlsx")
uk_trqs = pd.read_csv("data/uk_trqs.csv",dtype={'quota__order_number': str})

trade.columns = trade.columns.str.lower().str.replace(" ","_")

Looking in indexes: https://s3-eu-west-2.amazonaws.com/mirrors.notebook.uktrade.io/pypi/
Requirement already satisfied: openpyxl in /opt/conda/lib/python3.9/site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /opt/conda/lib/python3.9/site-packages (from openpyxl) (1.1.0)

### 1 Lists.

Lists are a very useful tool working in Python. You cna use them to simply store values and use them as arrays. They provide an easy ability to combine multiple inputs together into a single input. These can be used to filter and manipulate dataframes. Lists can be used to store data and provide an ability to store large amounts of information. 

Lists are a very important feature and are incredibly useful to learn.

### 1. basics of lists

In [15]:
# creating a basic list

empty_list = [] # empty square brackets
basic_list = ["item1", "item2","item3","item4"]

In [10]:
print(basic_list, empty_list)

['item1', 'item2', 'item3', 'item4'] []

In [16]:
# add items into list
#empty_list
empty_list.append("item")
empty_list.append("item2")
basic_list.append("item5")

print(basic_list, empty_list)

['item1', 'item2', 'item3', 'item4', 'item5'] ['item', 'item2']

In [18]:
lists_in_list = [[1,2,3] , [4,5,6] , [7,8,9]]
lists_in_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [19]:
lists_in_list[0] # 0 is the first index representing the first item.

[1, 2, 3]

In [23]:
# iterate through and print list items:
for i in lists_in_list:
    print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [28]:

# select specifc items. Item2 to 4:
basic_list[1:4]

['item2', 'item3', 'item4']

In [35]:
basic_list[0:2] # first two items

['item1', 'item2']

In [36]:
basic_list[-1] # end of list

'item5'

#### Combine lists

In [66]:
list1 = ["Apple","Orange","Banana"]
list2 = ["Mango", "Pineapple"]
list3 = ["Blueberry", "Raspberry", "Strawberry", "Blackberry"]

In [51]:
# sort lists - as not in alphabetical order:

list1 = sorted(list1)
list2 = sorted(list2)
list3 = sorted(list3)

print(list1,list2,list3)

['Apple', 'Banana', 'Orange'] ['Mango', 'Pineapple'] ['Blackberry', 'Blueberry', 'Raspberry', 'Strawberry']

In [52]:
# combine the three lists into one single:
# append method
list1.append(list2)
list1.append(list3)
list1

['Apple',
 'Banana',
 'Orange',
 ['Mango', 'Pineapple'],
 ['Blackberry', 'Blueberry', 'Raspberry', 'Strawberry']]

This creates lists within a list. We want one single list. Here we can use extend.

In [67]:
list1.extend(list2)
list1.extend(list3)
list1

['Apple',
 'Orange',
 'Banana',
 'Mango',
 'Pineapple',
 'Blueberry',
 'Raspberry',
 'Strawberry',
 'Blackberry']

In [37]:
# alternatively if we wanted to store thelists within a list:
list0 = ["Apple","Orange","Banana"]
list2 = ["Mango", "Pineapple"]
list3 = ["Blueberry", "Raspberry", "Strawberry", "Blackberry"]
list4 = [list0, list2, list3]
list4

[['Apple', 'Orange', 'Banana'],
 ['Mango', 'Pineapple'],
 ['Blueberry', 'Raspberry', 'Strawberry', 'Blackberry']]

In [40]:
# index method will produce the position of item within the list. 
print(list1.index('Apple'), list1.index("Mango"))

0 3

In [41]:
#you can check if an item exists in lists
"Apple" in list1

True

In [42]:
"Papaya" in list1

False

In [43]:
# basic loop to iterate through list item:
for fruit in list1:
    print(fruit)

Apple
Orange
Banana
Mango
Pineapple
Blueberry
Raspberry
Strawberry
Blackberry

In [44]:
# basic loop to check if values exist in list
fruit_list = ["Papaya","Apple","Kiwi","Banana","Mango"]

for fruit in fruit_list:
    if(fruit in list1):
        print(fruit + "is in list")
    else:
        print(fruit + " **not in list**")

Papaya **not in list**
Appleis in list
Kiwi **not in list**
Bananais in list
Mangois in list

#### Remove items from list

In [56]:
# remove all list items
ls = list1.copy()
ls.clear()
ls

[]

In [68]:
# remove using pop()
# remove Blueberry from list
position = list1.index("Blueberry")
print(position)
list1.pop(position)
list1

5

['Apple',
 'Orange',
 'Banana',
 'Mango',
 'Pineapple',
 'Raspberry',
 'Strawberry',
 'Blackberry']

In [60]:
list1.pop(position)

'Blueberry'

In [70]:
# the default is to remove the last list item. Therefore Blackberry will be remvoed. 
list1.pop()
list1

['Apple', 'Orange', 'Banana', 'Mango', 'Pineapple', 'Raspberry']

In [72]:
list1.pop(-2) # remove second to last item
list1

['Apple', 'Orange', 'Banana', 'Raspberry']

In [73]:
# remove()
list1.remove("Apple")
list1

['Orange', 'Banana', 'Raspberry']

In [82]:
# identify items with string pattern recognition
list1 = ["Apple","Orange","Banana"]
list2 = ["Mango", "Pineapple"]
list3 = ["Blueberry", "Raspberry", "Strawberry", "Blackberry"]
list1.extend(list2)
list1.extend(list3)

print([fruit for fruit in list1 if fruit.endswith('y')])

['Blueberry', 'Raspberry', 'Strawberry', 'Blackberry']

In [83]:
print([fruit for fruit in list1 if fruit.startswith('B')])

['Banana', 'Blueberry', 'Blackberry']

#### Dataframe column names as list

In [9]:
df = trade.copy()
colnames = df.columns.to_list()
colnames

['year',
 'flow',
 'commodity_code',
 'country_code',
 'country_name',
 'value_gbp',
 'suppression_notes']

In [4]:
# remove items
colnames.remove("flow")
colnames

['year',
 'commodity_code',
 'country_code',
 'country_name',
 'value_gbp',
 'suppression_notes']

In [10]:
# remove n list items:
del colnames[:4] # keep last 3 items. (4th column to 7th)
colnames

['country_name', 'value_gbp', 'suppression_notes']

In [11]:
colnames = df.columns.to_list()
del colnames[2:] # select first two columns 
colnames

['year', 'flow']

In [12]:
colnames = df.columns.to_list()
del colnames[2:4] # delete the 3rd column (0 index is the first) to the 4th. 
colnames

['year', 'flow', 'country_name', 'value_gbp', 'suppression_notes']

****

### Storing dataframes

You can store dataframe objects in list too, not just values creating an array. Lists are a useful place to store dataframes to later call on later in the script.

In [6]:
df1 = trade.head(10)
df2 = trade.head(20)
df3 = trade.head(30)
df4 = trade.head(40)

ls = []

In [16]:
ls.append(df1)
ls.append(df2)
ls.append(df3)
ls.append(df4)

In [20]:
ls[0]

,year,flow,commodity_code,country_code,country_name,value_gbp,suppression_notes
0,2020,Exports,01012100,TW,Taiwan,892,NaN
1,2020,Exports,01062000,TW,Taiwan,14101,NaN
2,2020,Exports,01063100,TW,Taiwan,1750,NaN
3,2020,Exports,02031913,TW,Taiwan,290818,NaN
4,2020,Exports,02031990,TW,Taiwan,1140,NaN
5,2020,Exports,02032219,TW,Taiwan,125461,NaN
6,2020,Exports,02032290,TW,Taiwan,70982,NaN
7,2020,Exports,02032955,TW,Taiwan,508591,NaN
8,2020,Exports,02032959,TW,Taiwan,53000,NaN
9,2020,Exports,02032990,TW,Taiwan,276857,NaN

In [25]:
ls2 = [df1,df2,df3,df4]

In [21]:
ls2[0]

,year,flow,commodity_code,country_code,country_name,value_gbp,suppression_notes
0,2020,Exports,01012100,TW,Taiwan,892,NaN
1,2020,Exports,01062000,TW,Taiwan,14101,NaN
2,2020,Exports,01063100,TW,Taiwan,1750,NaN
3,2020,Exports,02031913,TW,Taiwan,290818,NaN
4,2020,Exports,02031990,TW,Taiwan,1140,NaN
5,2020,Exports,02032219,TW,Taiwan,125461,NaN
6,2020,Exports,02032290,TW,Taiwan,70982,NaN
7,2020,Exports,02032955,TW,Taiwan,508591,NaN
8,2020,Exports,02032959,TW,Taiwan,53000,NaN
9,2020,Exports,02032990,TW,Taiwan,276857,NaN

In [27]:
# concatonate dfs together in list
# we can use pd.concat easily. 

df_combined = pd.concat(ls2)
df_combined.shape

(100, 7)

****

### 2. Loops

Loops are very helpful as they allow you to excute repeated code to a specified end point. This helps us iterate through dataframes applying a repeated process based on a spcific argument or condition. For example we cna loop through a large dataframe based on unique items within a group.

Using the trade data example - we can loop through to filter the data based on a specific country/year/flow type.

In [91]:
df = trade.head(10).copy()
df2 = trade.copy()

In [98]:
# loop through trade data length:
for i in range(len(df)):
    print(df[:i]) # prints slice by nrow of dataframe:

Empty DataFrame
Columns: [year, flow, commodity_code, country_code, country_name, value_gbp, suppression_notes]
Index: []
   year     flow commodity_code country_code country_name  value_gbp  \
0  2020  Exports       01012100           TW       Taiwan        892

   suppression_notes
0                NaN
   year     flow commodity_code country_code country_name  value_gbp  \
0  2020  Exports       01012100           TW       Taiwan        892
1  2020  Exports       01062000           TW       Taiwan      14101

   suppression_notes
0                NaN
1                NaN
   year     flow commodity_code country_code country_name  value_gbp  \
0  2020  Exports       01012100           TW       Taiwan        892
1  2020  Exports       01062000           TW       Taiwan      14101
2  2020  Exports       01063100           TW       Taiwan       1750

   suppression_notes
0                NaN
1                NaN
2                NaN
   year     flow commodity_code country_code country_name  value_gbp  \
0  2020  Exports       01012100           TW       Taiwan        892
1  2020  Exports       01062000           TW       Taiwan      14101
2  2020  Exports       01063100           TW       Taiwan       1750
3  2020  Exports       02031913           TW       Taiwan     290818

   suppression_notes
0                NaN
1                NaN
2                NaN
3                NaN
   year     flow commodity_code country_code country_name  value_gbp  \
0  2020  Exports       01012100           TW       Taiwan        892
1  2020  Exports       01062000           TW       Taiwan      14101
2  2020  Exports       01063100           TW       Taiwan       1750
3  2020  Exports       02031913           TW       Taiwan     290818
4  2020  Exports       02031990           TW       Taiwan       1140

   suppression_notes
0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
   year     flow commodity_code country_code country_name  value_gbp  \
0  2020  Exports       01012100           TW       Taiwan        892
1  2020  Exports       01062000           TW       Taiwan      14101
2  2020  Exports       01063100           TW       Taiwan       1750
3  2020  Exports       02031913           TW       Taiwan     290818
4  2020  Exports       02031990           TW       Taiwan       1140
5  2020  Exports       02032219           TW       Taiwan     125461

   suppression_notes
0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
5                NaN
   year     flow commodity_code country_code country_name  value_gbp  \
0  2020  Exports       01012100           TW       Taiwan        892
1  2020  Exports       01062000           TW       Taiwan      14101
2  2020  Exports       01063100           TW       Taiwan       1750
3  2020  Exports       02031913           TW       Taiwan     290818
4  2020  Exports       02031990           TW       Taiwan       1140
5  2020  Exports       02032219           TW       Taiwan     125461
6  2020  Exports       02032290           TW       Taiwan      70982

   suppression_notes
0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
5                NaN
6                NaN
   year     flow commodity_code country_code country_name  value_gbp  \
0  2020  Exports       01012100           TW       Taiwan        892
1  2020  Exports       01062000           TW       Taiwan      14101
2  2020  Exports       01063100           TW       Taiwan       1750
3  2020  Exports       02031913           TW       Taiwan     290818
4  2020  Exports       02031990           TW       Taiwan       1140
5  2020  Exports       02032219           TW       Taiwan     125461
6  2020  Exports       02032290           TW       Taiwan      70982
7  2020  Exports       02032955           TW       Taiwan     508591

   suppression_notes
0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
5                NaN
6                NaN
7                NaN
   year     flow commodity_code country_code country_name  value_gbp  \
0  2020  Exports       01012100           TW       Taiwan        892
1  2020  Exports       01062000           TW       Taiwan      14101
2  2020  Exports       01063100           TW       Taiwan       1750
3  2020  Exports       02031913           TW       Taiwan     290818
4  2020  Exports       02031990           TW       Taiwan       1140
5  2020  Exports       02032219           TW       Taiwan     125461
6  2020  Exports       02032290           TW       Taiwan      70982
7  2020  Exports       02032955           TW       Taiwan     508591
8  2020  Exports       02032959           TW       Taiwan      53000

   suppression_notes
0                NaN
1                NaN
2                NaN
3                NaN
4                NaN
5                NaN
6                NaN
7                NaN
8                NaN

In [100]:
# loop through df column:
for i in df:
    print(i)

year
flow
commodity_code
country_code
country_name
value_gbp
suppression_notes

In [101]:
# loop through unique items within group. Such as country name. 
# first create a list of unique values. 

country_names = pd.unique(df2["country_name"])
# or alternative create your own list:
country_names2 = ["Thailand","Taiwan","Vietnam","United States"]

In [102]:
country_names

array(['Taiwan', 'Tajikistan', 'Tanzania (United Republic of)',
       'Thailand', 'Timor-Leste', 'Tonga', 'Trinidad and Tobago',
       'Tunisia', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United States', 'United States Minor outlying islands',
       'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Vatican City State', 'Venezuela, Bolivarian Republic of',
       'Vietnam', 'Wallis and Futuna', 'Yemen', 'Zambia'], dtype=object)

In [106]:
# iterate through selected countries 
for country in country_names2:
    df_filt = df2.loc[df2["country_name"] == country]
    print(df_filt.shape)

(5589, 7)
(6436, 7)
(4188, 7)
(12891, 7)

In [113]:
# you can set the unique group items within the for:
for yr in pd.unique(df2["year"]):
    print(yr)

2020
2019

**Practical example:** filter the trade dataset for all countrys. This data is to be later called upon so we can store each data within a list. Each iteration of the loop we stash the data in a list.

In [114]:
ls = [] # create empty list to stash data in
for country in country_names:
    df_filt = df2.loc[df2["country_name"]==country]
    ls.append(df_filt)

In [127]:
len(ls) # list item length

24

In [129]:
type(ls)

list

In [140]:
ls[0].head()

,year,flow,commodity_code,country_code,country_name,value_gbp,suppression_notes
0,2020,Exports,01012100,TW,Taiwan,892,NaN
1,2020,Exports,01062000,TW,Taiwan,14101,NaN
2,2020,Exports,01063100,TW,Taiwan,1750,NaN
3,2020,Exports,02031913,TW,Taiwan,290818,NaN
4,2020,Exports,02031990,TW,Taiwan,1140,NaN

In [139]:
ls[15].tail()

,year,flow,commodity_code,country_code,country_name,value_gbp,suppression_notes
34986,2019,Imports,97011000,UY,Uruguay,7917,NaN
34987,2019,Imports,97030000,UY,Uruguay,121150,NaN
34988,2019,Imports,97050000,UY,Uruguay,3469,NaN
34989,2019,Imports,97060000,UY,Uruguay,86020,NaN
34990,2019,Imports,99209900,UY,Uruguay,89952,NaN

In [156]:
# for example after you analysed the data - you notieced something with specific countries and wanted them remvoed. 
# remove United States and Thailand from list:
# find position within list
for i in range(len(ls)):
        x = ls[i]
        print(i, pd.unique(x["country_name"]))

0 ['Taiwan']
1 ['Tajikistan']
2 ['Tanzania (United Republic of)']
3 ['Timor-Leste']
4 ['Tonga']
5 ['Trinidad and Tobago']
6 ['Tunisia']
7 ['Turkmenistan']
8 ['Tuvalu']
9 ['Uganda']
10 ['Ukraine']
11 ['United States Minor outlying islands']
12 ['Uruguay']
13 ['Vanuatu']
14 ['Venezuela, Bolivarian Republic of']
15 ['Vietnam']
16 ['Wallis and Futuna']
17 ['Yemen']
18 ['Zambia']

In [157]:
# remove positions 12:14 and 3. 
index_pos = [3,12,13,14]
for pos in index_pos:
    ls.pop(pos)

In [158]:
len(ls)

15

In [159]:
# Further we may want to concat the data back
df_concat = pd.concat(ls)
df_concat.shape

(17326, 7)

In [160]:
print(pd.unique(df_concat["country_name"]))

['Taiwan' 'Tajikistan' 'Tanzania (United Republic of)' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Turkmenistan' 'Tuvalu' 'Uganda'
 'Ukraine' 'United States Minor outlying islands' 'Uruguay'
 'Venezuela, Bolivarian Republic of' 'Wallis and Futuna' 'Zambia']

We have successfully looped through and stored data within a list, removed items and then binded it back together again. This is a common practice I use and find helpful in my analysis.

****

#### List comprehensions

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [170]:
ls2 = ls.copy()

In [178]:
ls3 = [df for df in ls2 if len(df) < 100] # filter list items if the numer of rows in each df is less than 100

In [179]:
len(ls3)

5

In [183]:
fruit_list = ["Apple", "Banana", "Mango","Kiwi","Strawberry","Raspberry","Blueberry","Blackberry","Pineapple"]
# revmoe any item with pattern within, i,e, Berry
fruit_list2 = [fruit for fruit in fruit_list if "berry"  not in fruit] # alternatively chage "not in" to "in"
fruit_list2

['Apple', 'Banana', 'Mango', 'Kiwi', 'Pineapple']

```python
newlist = [expression for item in iterable if condition == True]
```